<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Generator</title>
</head>
<body>
    <h1>Resume Generator</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.email.label }} {{ form.email() }}<br>
        {{ form.phone.label }} {{ form.phone() }}<br>
        {{ form.education.label }} {{ form.education() }}<br>
        {{ form.experience.label }} {{ form.experience() }}<br>
        {{ form.skills.label }} {{ form.skills() }}<br>
        {{ form.submit() }}
    </form>
</body>
</html> 